CONNECTION_STRING = MONGO_CONNECTION_STRING
SECRET_KEY = JWT_SECRET_KEY
ALGORITHM = HS256
PINECONE_API_KEY = PINECONE_API_KEY
GROQ_API_KEY = YOUR_GROQ_API_KEY
LANGCHAIN_TRACING_V2 = "true"
LANGCHAIN_ENDPOINT = "https://api.smith.langchain.com"
LANGCHAIN_API_KEY = "YOUR_LANGSMITH_API_KEY"
LANGCHAIN_PROJECT = "TierRAG"
## JWT SECRET
SECRET_KEY = "YOUR_GENERATED_JWT_KEY"